body {
  font-family: 'Times New Roman';
  margin: 28px 20px;
  background-color: rgb(132, 163, 221);
}

h1 {
  font-size: xx-large;
  margin-bottom: 12px;
  color:rgb(72, 8, 8);
}

h2 {
  font-size: medium;
  margin: 20px 0 6px;
  color: rgb(70, 9, 9);
}

input {
  padding: 6px 8px;
  width: 200px;
  margin-right: 6px;
}

button {
  padding: 6px 12px;
  margin-right: 6px;
}
